		<nav>	
	
			<h3>Contents</h3>
	
			<ul>
				<li><a href="#" target="_self">Section 1</a>
				<li><a href="#" target="_self">Section 2</a>
				<li><a href="#" target="_self">Section 3</a>
				<li><a href="#" target="_self">Section 4</a>
				<li><a href="#" target="_self">Section 5</a>
			</ul>
	
		</nav>