@keyframes progress-1 {
  0% {
    width: 0;
  }
  50% {
    width: 50%;
  }
  75% {
    width: 66%;
  } 
  90% {
    width: 75%;
  } 
  95% {
    width: 80%;
  }   
  100% {
    width: 100%;
  }
}

@keyframes progress-2 {
  0% {
    width: 0;
  }
  50% {
    width: 87%;
  }
  75% {
    width: 88%;
  } 
  90% {
    width: 90%;
  } 
  95% {
    width: 95%;
  }   
  100% {
    width: 100%;
  }
}




@keyframes animate-enter {
  0% {
    -webkit-opacity: 	0;
    -moz-opacity: 	0;
    -khtml-opacity:     0;
    opacity: 		0;  	
  } 
  100% {
    -webkit-opacity: 	1;
    -moz-opacity: 	1;
    -khtml-opacity:     1;
    opacity: 		1; 
  }
}


@keyframes animate-leave {
  0% {
    -webkit-opacity: 	1;
    -moz-opacity: 	1;
    -khtml-opacity:     1;
    opacity: 	
  } 
  100% {
    -webkit-opacity: 	0;
    -moz-opacity: 	0;
    -khtml-opacity:     0;
    opacity: 		0;  
  }
}