.in {
    margin: 0 auto;    
}

.img {
    display: block;

    img {
        max-width: 100%;
        width: 100%;
    }

}

.col {
    display: inline-block;
    vertical-align: middle;
    width: 50%;    
}

.col.left {
    float: left; 
}

.col.right {
    float: right;       
}

aside {
	.border-radius (4px);
	border: 1px solid #e0e0e0;	
	padding: 1.25em;
	position: relative;
	overflow: hidden;
	
	.wait {
		position: absolute;
		left: 0;
		top: 0;
		color: #fff;
		font-size: .5em;
		z-index: 4;
		padding: .5em .75em;
		
		display: none;
		&.load-in-progress {
			display: block;
		}
	}
	
	.stopro {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		color: #fff;
		z-index: 3;
		font-weight: 700;
		font-size: 450%;

		display: none;
		&.load-in-progress {
			display: block;
		}		
	}
	
	.progress-bar {
		.border-radius (inherit);
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		background: #1591fe;
    	z-index: 2;
		//.animation (progress, 4s, 0, ease, none, infinite);
		animation-name: progress-2;
		-webkit-animation-name: progress-2;	
		
		display: none;
		&.load-in-progress {
			display: block;
		}		
	}
	
	.load-in-progress {
		
	}
	
	div {
		position: relative;
		z-index: 1;
		
		button {
			.border-radius (4px);	
			border: 1px solid #1591fe;
			font-size: .85em;
			padding: .5em .75em;
			
			&.blue {
				background: #1591fe;
				color: #fff;
			}
			
			&.open {
				padding-bottom: 1em;			
				
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				
				-webkit-border-bottom-left-radius: 0;
				-webkit-border-bottom-right-radius: 0;	
				
				-moz-border-bottom-left-radius: 0;
				-moz-border-bottom-right-radius: 0;
				
				.transition(all .25s);
			}
			
			&.transparent {
				background: transparent;			
			}
			
			&.disabled {
				color: #ccc;
				border-color: #ccc;
				background-color: transparent;
				.transition(all .25s);
			}
			
		}	
		
		.additional-content {
			font-size: .85em;
			border-top: 1px solid #1591fe;
		}
	}
}

.row {
    position: relative;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    background: #000;
    //.opacity(.5);
}  