//@sprite : url(../img/sprite.png);

/* placeholders without opacity */
*::-webkit-input-placeholder {
    -webkit-opacity: 1 !important;
}

*:-moz-placeholder {
    /* FF 4-18 */
    color: #54595e;
    //opacity: 1 !important;
}

*::-moz-placeholder {
    /* FF 19+ */
    color: #54595e;
    //opacity: 1 !important;
}

*:-ms-input-placeholder {
    /* IE 10+ */
    color: #54595e;
    //opacity: 1 !important;
}

/* box-sizing for every element */

*, *:before, *:after {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}

/* remove outline from every element */

*:focus {
	outline: none !important
}

/* ==========================================================================
   Custom
   ========================================================================== */
   
header {	
	background-color: #263238;
	
	> nav {
		border-bottom: 1px solid #37474f;
		
		> .in {
		
			ul {				
				
				li {
					display: inline-block;
					vertical-align: top;
					width: 16.66666666666667%;
					//.outl;

					a {
						color: #b0bec5;	
						text-decoration: none;
						font-size: .95em;
						padding: 1em 2em;
						display: block;
						border-left: 1px solid #37474f;
						.txtc;
						
						&:hover,
						&.active {
							font-weight: bold;
							color: #fff;
							.transition(all .1s);
						}
						
					}			
					
					&:last-child {
						border-right: 1px solid #37474f;	
					}					
					
				}
					
			}	
		
		}
			
	}		
	
	> .in {
		
		h1 {
			margin: 0;
			padding: 1.65em 0 .75em 0;
			color: #fff;	
			font-weight: 300;
			font-size: 2.1em;
		}
			
	}
	
}	
   
#main {

	.in {	
		
		.col.left {
			
			width: 16.66666666666667%;	
				
			nav {
				padding: 3em 1.25em 0 0;
					
				ul {
					margin: 0 0 1em 0;
						
					> &:first-child {
							border-bottom: 1px #e0e0e0 solid;	
					}					
					
					li {
						font-size: 0.85em;	
						margin: 0 0 1em 0;
							
						a {
							text-decoration: none;
							color: @text-color;
							cursor: pointer;
						}
							
						ul {							
								
							li {
									
							}
								
						}
							
					}
				
						
				}
				
			}
				
		}
			
		.col.middle.content  {
			width: 66.66666666666666%;
			padding: 2em;
				
			h2 {
				font-weight: 600;
			}				
				
			p {
				line-height: 1.5em;	
			}											
				
		}
			
		.col.right {
			width: 16.66666666666667%;
			padding: 2em 0 0 1.25em;
				
			nav {					
				border-left: 2px solid #d4d8db;
				padding: .5em 0 0 1.25em;
					
				h3 {
					margin: 0;
					font-size: .85em;
					font-weight: 400;
					padding: .5em 0 .25em 0;
				}
					
				ul {
					
					li {
						padding: .35em 0;
							
						a {
							text-decoration: none;
							display: block;
							
							color: #1591fe;
								
							&:hover {
								color: @text-color;	
							}
								
						}
								
					}
						
				}
					
			}
				
		}
				
	}
	
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.txtc {
    text-align: center !important;
}

.txtr {
    text-align: right !important;    
}

.txtl {
    text-align: left !important;    
}

.fl {
    float: left !important;
}

.fr {
    float: right !important;    
}

.outl {
    outline: 1px dotted pink;
}

.outl-y {
    outline: 1px dotted yellow;
}

.outl-b {
    outline: 1px dotted blue;
}

.pink {
    background-color: pink;
}

.red {
    background-color: red;
}

.noText {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden; 
}  

.noCursor {
    cursor: default;   
}

.underline {
    text-decoration: underline;    
}

.transition (@transition) {
    -webkit-transition: @transition;  
    -moz-transition:    @transition;
    -ms-transition:     @transition; 
    -o-transition:      @transition;  
}

.border-radius (@border-radius: 3px) {
    -webkit-border-radius: @border-radius;
    -moz-border-radius: @border-radius;
    border-radius: @border-radius;
}

.opacity (@opacity: 0.5) {
    -webkit-opacity: 	@opacity;
    -moz-opacity: 	@opacity;
    -khtml-opacity:     @opacity;
    opacity: 		@opacity;
}

/*
.box-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
    -webkit-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
    -moz-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
    box-shadow:		@x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.text-shadow (@string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
    text-shadow: @string;
}

.animation (@name, @duration: 300ms, @delay: 0, @ease: ease, @animation-fill-mode: none, @animation-iteration-count: infinite) {
    -webkit-animation: @name @duration @delay @ease @animation-fill-mode @animation-iteration-count;
    -moz-animation:    @name @duration @delay @ease @animation-fill-mode @animation-iteration-count;
    -ms-animation:     @name @duration @delay @ease @animation-fill-mode @animation-iteration-count;
    -o-animation:     @name @duration @delay @ease @animation-fill-mode @animation-iteration-count;
}

.animated-tweaker (@duration: 1.1s, @delay: 0.5s, @repeats: 1) {
    -webkit-animation-duration: @duration;
    -moz-animation-duration:    @duration;
    -ms-animation-duration:     @duration;
    -o-animation-duration:      @duration;
    animation-duration:         @duration;

    -webkit-animation-delay:    @delay;
    -moz-animation-delay:       @delay;
    -ms-animation-delay:        @delay;
    -o-animation-delay:         @delay;
    animation-delay:            @delay;

    -webkit-animation-iteration-count:  @repeats;
    -moz-animation-iteration-count:     @repeats;
    -ms-animation-iteration-count:      @repeats;
    -o-animation-iteration-count:       @repeats;
    animation-iteration-count:          @repeats;
}

.transform(@string){
    -webkit-transform:  @string;
    -moz-transform:     @string;
    -ms-transform:      @string;
    -o-transform:       @string;
}

.rotate (@deg) {
    -webkit-transform:  rotate(@deg);
    -moz-transform:     rotate(@deg);
    -ms-transform: 	rotate(@deg);
    -o-transform: 	rotate(@deg);
}

.svg_container {
    position: relative;
}

.stretcher-bar {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.stretcher-bar + svg { 
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;   
}

*/

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

@import "type.less";
@import "layout.less";
@import "animations.less";

@import "rwd-steps.less";