@media only screen and (min-width: 1600px){

    .in {
        max-width: 1280px;
    }    

}

@media only screen and (max-width: 1600px) {     

	header > .in,
	.left-menu {
        padding-left: 2em;			
	}

}

@media only screen and (max-width: 1600px) and (min-width: 767px) {

    .in {
        max-width: 100%;
    }      

}

@media only screen and (max-width: 767px) and (min-width: 480px) {

    .in {
        max-width: 100%;
    }      

}

@media only screen and (max-width: 480px) {

    .in {
        max-width: 100%;
    }      

}  