@text-font: 'Source Sans Pro', sans-serif;
@text-color: #202325;

body {
	font-family: @text-font;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;	
}

@media only screen and (min-width: 1600px){

    body {
        font-size: 20px;    
    }

}

@media only screen and (max-width: 1600px) and (min-width: 1400px) {

    body {       
        font-size: 18px;      
    } 

}

@media only screen and (max-width: 1400px) and (min-width: 1200px) {

    body {       
        font-size: 16px;  
    }

}

@media only screen and (max-width: 1200px) and (min-width: 1000px) {

    body {       
        font-size: 15px;  
    }

}

@media only screen and (max-width: 1000px) and (min-width: 800px) {

    body {       
        font-size: 14px;  
    }

}

@media only screen and (max-width: 800px) and (min-width: 600px) {

    body {       
        font-size: 13px;  
    }

}

@media only screen and (max-width: 600px) and (min-width: 480px) {

    body {       
        font-size: 12px;  
    }

}

@media only screen and (max-width: 480px) {

    body {        
        font-size: 11px;
    }

}