<div ng-controller="ConstructsController">

	<section>

		<h2>Sub-heading</h2>

		<p>Trust fund four loko quinoa echo park 3 wolf moon ramps. Kombucha kitsch flexitarian deep v. Fashion axe hashtag humblebrag
			tofu bespoke pop-up, ugh irony everyday carry waistcoat hella brooklyn beard. Polaroid vegan locavore ramps gochujang.
			Mlkshk normcore wayfarers, pork belly disrupt craft beer helvetica tofu polaroid retro street art post-ironic. Hoodie
			PBR&B retro, YOLO cred scenester 3 wolf moon kickstarter direct trade you probably haven't heard of them gentrify twee
			whatever. Retro banh mi cronut, blog pop-up salvia venmo aesthetic marfa viral kinfolk food truck synth gochujang gastropub.</p>

	</section>

	<section>

		<h2>Sub-heading</h2>

		<p>Skateboard bitters chia taxidermy tacos. Shabby chic listicle tacos meh, raw denim mixtape VHS. Hammock put a bird on it
			normcore pork belly, bicycle rights PBR&B church-key biodiesel mlkshk jean shorts mumblecore hoodie. Try-hard kinfolk
			synth, gluten-free 8-bit man bun stumptown tousled chambray green juice whatever XOXO wolf. VHS pinterest flexitarian,
			butcher echo park messenger bag pitchfork. Waistcoat lomo swag, gastropub brooklyn banjo williamsburg meh YOLO. Pitchfork
			before they sold out chia paleo deep v skateboard.</p>

	</section>

</div>