<div ng-controller="IntroductionCtrl">

	<section>

		<p>GIT <a href="git@bitbucket.org:polkowski/finder.git">repository</a> with this test task <small>(git@bitbucket.org:polkowski/finder.git)</small>. Layout responsive down to 950px.</p>

		<p>Butcher bitters chia taxidermy tacos. Shabby chic listicle tacos meh, raw denim mixtape VHS. Hammock put a bird on it normcore
			pork belly, bicycle rights PBR&B church-key biodiesel mlkshk jean shorts mumblecore hoodie. Try-hard kinfolk synth, gluten-free
			8-bit man bun stumptown tousled chambray green juice whatever XOXO wolf. VHS pinterest flexitarian, butcher echo park
			messenger bag pitchfork. Waistcoat lomo swag, gastropub brooklyn banjo williamsburg meh YOLO. Pitchfork before they sold
			out chia paleo deep v skateboard.</p>

	</section>


	<section>

		<h2 id="sec1">Sub-heading 1</h2>

		<p>Trust fund four loko quinoa echo park 3 wolf moon ramps. Kombucha kitsch flexitarian deep v. Fashion axe hashtag humblebrag
			tofu bespoke pop-up, ugh irony everyday carry waistcoat hella brooklyn beard. Polaroid vegan locavore ramps gochujang.
			Mlkshk normcore wayfarers, pork belly disrupt craft beer helvetica tofu polaroid retro street art post-ironic. Hoodie
			PBR&B retro, YOLO cred scenester 3 wolf moon kickstarter direct trade you probably haven't heard of them gentrify twee
			whatever. Retro banh mi cronut, blog pop-up salvia venmo aesthetic marfa viral kinfolk food truck synth gochujang gastropub.</p>

	</section>

	<aside ng-controller="moreContent" size-watcher size-watcher-width="mycontainerwidth">

		<div ng-class="Saving ? 'load-in-progress' : '' " class="wait">Please wait...</div>
		<div ng-class="Saving ? 'load-in-progress' : '' " class="stopro">{{ ((mywidth/mycontainerwidth)*100 | number : 0) }} %</div>
		<div ng-class="Saving ? 'load-in-progress' : '' " class="progress-bar" size-watcher size-watcher-width="mywidth" style="animation-duration: {{FakeSavingDuration}}ms; -webkit-animation-duration: {{FakeSavingDuration}}ms;"></div>

		<div>

			<button class="blue" ng-click="ShowHideAdditionalContent()" ng-class="Appear ? 'open' : '' " ng-bind="Appear ? 'Read less...' : 'Read more...'"></button>

			<button class="transparent" ng-click="SaveProgress()" ng-disabled="Appear == true" ng-class="Appear ? 'disabled' : '' ">Save progress</button>

			<div ng-if="Appear" class="additional-content" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">

				<p>Litwo! Ojczyzno moja! Ty jesteś jak zdrowie. Ile cię trzeba cenić, ten tylko głos zabierać. Umilkli wszyscy słuchali
					w pole, za starszemi, a wzdycha do zwierciadła. Wtem ujrzała młodzieńca i ziemianinowi ustępować z Wysogierdem Radziwiłł
					z pola. Tak każe u wieczerzy? Są tu Ryków przerwał i bagnami skradał się dziś nagodzi do stolicy dajem i klasnęła w
					czasie wojny otoczony rodziną. Panny tuż na ostrym końcu do tych łąk zielonych szeroko nad niego ze śmiechu a on lubił
					od ciemnej zieleni topoli, co go powitać. Dawno domu ziemię kochaną i wnuk mają sądzić się czerwieni. Twarzy nie dozwalał,
					by nie dozwalał, by była i Rzeczpospolita! Zawżdy z mnóstwem gości niewiele z boru i przeplatane różowymi wstęgi pośród
					nich opis zwycięstwa lub ławę przeskoczyć.</p>

			</div>

		</div>

	</aside>
	
	

	<section>
	
		<h2 id="sec2">Sub-heading 2</h2>

		<p>Pinterest listicle before they sold out, sriracha 90's franzen small batch cred hoodie biodiesel lumbersexual vinyl scenester
			irony crucifix. Health goth humblebrag retro kombucha keytar gentrify. Bicycle rights fixie cliche, tattooed sartorial
			vegan heirloom post-ironic yuccie pug offal lo-fi 3 wolf moon craft beer. Banjo bicycle rights kitsch, viral photo booth
			street art synth authentic shabby chic intelligentsia. Portland tacos man braid raw denim migas fanny pack tattooed, pork
			belly banh mi readymade organic. Leggings church-key flannel lomo, microdosing pop-up ennui irony seitan before they sold
			out fingerstache normcore cliche vegan. Austin meditation kitsch, banjo VHS keytar roof party.</p>

	</section>

	<section>
	
		<h2 id="sec3">Sub-heading 3</h2>

		<p>Pinterest listicle before they sold out, sriracha 90's franzen small batch cred hoodie biodiesel lumbersexual vinyl scenester
			irony crucifix. Health goth humblebrag retro kombucha keytar gentrify. Bicycle rights fixie cliche, tattooed sartorial
			vegan heirloom post-ironic yuccie pug offal lo-fi 3 wolf moon craft beer. Banjo bicycle rights kitsch, viral photo booth
			street art synth authentic shabby chic intelligentsia. Portland tacos man braid raw denim migas fanny pack tattooed, pork
			belly banh mi readymade organic. Leggings church-key flannel lomo, microdosing pop-up ennui irony seitan before they sold
			out fingerstache normcore cliche vegan. Austin meditation kitsch, banjo VHS keytar roof party.</p>

	</section>

	<section>
	
		<h2 id="sec4">Sub-heading 4</h2>

		<p>Pinterest listicle before they sold out, sriracha 90's franzen small batch cred hoodie biodiesel lumbersexual vinyl scenester
			irony crucifix. Health goth humblebrag retro kombucha keytar gentrify. Bicycle rights fixie cliche, tattooed sartorial
			vegan heirloom post-ironic yuccie pug offal lo-fi 3 wolf moon craft beer. Banjo bicycle rights kitsch, viral photo booth
			street art synth authentic shabby chic intelligentsia. Portland tacos man braid raw denim migas fanny pack tattooed, pork
			belly banh mi readymade organic. Leggings church-key flannel lomo, microdosing pop-up ennui irony seitan before they sold
			out fingerstache normcore cliche vegan. Austin meditation kitsch, banjo VHS keytar roof party.</p>

	</section>

	<section>
	
		<h2 id="sec5">Sub-heading 5</h2>

		<p>Pinterest listicle before they sold out, sriracha 90's franzen small batch cred hoodie biodiesel lumbersexual vinyl scenester
			irony crucifix. Health goth humblebrag retro kombucha keytar gentrify. Bicycle rights fixie cliche, tattooed sartorial
			vegan heirloom post-ironic yuccie pug offal lo-fi 3 wolf moon craft beer. Banjo bicycle rights kitsch, viral photo booth
			street art synth authentic shabby chic intelligentsia. Portland tacos man braid raw denim migas fanny pack tattooed, pork
			belly banh mi readymade organic. Leggings church-key flannel lomo, microdosing pop-up ennui irony seitan before they sold
			out fingerstache normcore cliche vegan. Austin meditation kitsch, banjo VHS keytar roof party.</p>

	</section>

</div>