<div ng-controller="LayoutsController">

    <section>

        <h2>Sub-heading</h2>

        <p>Skateboard bitters chia taxidermy tacos. Shabby chic listicle tacos meh, raw denim mixtape VHS. Hammock put a bird
            on it normcore pork belly, bicycle rights PBR&B church-key biodiesel mlkshk jean shorts mumblecore hoodie. Try-hard
            kinfolk synth, gluten-free 8-bit man bun stumptown tousled chambray green juice whatever XOXO wolf. VHS pinterest
            flexitarian, butcher echo park messenger bag pitchfork. Waistcoat lomo swag, gastropub brooklyn banjo williamsburg
            meh YOLO. Pitchfork before they sold out chia paleo deep v skateboard.</p>

        <p>Pinterest listicle before they sold out, sriracha 90's franzen small batch cred hoodie biodiesel lumbersexual vinyl
            scenester irony crucifix. Health goth humblebrag retro kombucha keytar gentrify. Bicycle rights fixie cliche,
            tattooed sartorial vegan heirloom post-ironic yuccie pug offal lo-fi 3 wolf moon craft beer. Banjo bicycle rights
            kitsch, viral photo booth street art synth authentic shabby chic intelligentsia. Portland tacos man braid raw
            denim migas fanny pack tattooed, pork belly banh mi readymade organic. Leggings church-key flannel lomo, microdosing
            pop-up ennui irony seitan before they sold out fingerstache normcore cliche vegan. Austin meditation kitsch,
            banjo VHS keytar roof party.</p>

    </section>

</div>