<nav>
    <ul>
        <li ng-repeat="item in menu"><a ng-click="changeSub(item.id)">{{item.name}}</a>
		<li><hr/>
        <li ng-repeat="item in submenu"><a>{{item.name}}</a>      
    </ul>    
</nav>